/* Values Section Styles */
.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-left: 110px;
  margin-right: 180px;
}

.value-heading {
  font-weight: bold;
  font-size: xx-large;
  text-align: left; /* Align heading to the left */
  width: 100%; /* Make the heading take the full width */
  margin-top: 20px;  
}

.value-heading h1 {
  margin: 0;
  padding: 0;
}

.values-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.value {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 262px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.value img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.value h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.read-more-link {
  text-decoration: none;
  font-weight: bold;
  color: #2b8a3e;
}

.value:hover {
  transform: scale(1.05);
}

/* Explore More Container */
.explore-more-container {
  background-color: white; /* Change to desired background color */
  color: #fff; /* Text color */
  padding: 30px;
  margin: 15px;
  border-radius: 8px;
  width: 250px; /* Match other blog cards width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-more-container h3 {
  margin: 0;
  font-size: 1.5rem;
}

.explore-more-button {
  background-color: #fff; /* Button color */
  color: #2b8a3e; /* Text color */
  font-size: 2rem; /* Arrow size */
  width: 40px; /* Button size */
  height: 40px; /* Button size */
  border-radius: 50%; /* Round button */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove underline */
  transition: transform 0.3s ease;
}

.explore-more-container:hover {
  background: rgb(171, 171, 255); /* Darken background on hover */
}

.explore-more-button:hover {
  transform: scale(1.1); /* Slight zoom effect */
}
